
.wallet{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.placeBet {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.btns {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 0 10px;
}